
*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #252525;
  color: #fff;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

/* -- Background-color -- */
.primary-bg-color{
  background-color: #252525;
}

.secondary-bg-color{
  background-color: #c09578;
}

.light-bg-color{
  background-color: #fcf5eb;
}

.dark-bg-color{
  background-color: #101010;
}

/* --Text color -- */
.primary-color{
  color: #c09578;
}

.secondary-color{
  color: #626262;
}

.light-color{
  color: #fcf5eb;
}

/*HEADER*/

/*navbar*/
#navbar .navbar-nav{
  flex-direction: row;
  justify-content: flex-end;
}

#navbar .navbar-nav li{
  margin-left: 1rem;
}

#navbar a, #navbar button {
  color: #fff;
}

#navbar li{
  position: relative;
}

#navbar i{
  font-size: 1.25em;
}

#navbar span{
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #ef3636;
  text-align: center;
}

#bag-item span{
  left: 1.25rem;
}

.navbar-brand{
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#navbar-items{
  justify-content: space-between;
}

#search-form, #news-form {
  width: 100%;
  margin: 2rem 0;

  border: 2px solid #626262;
  border-radius: 0.188rem;
  padding: 0.313rem 0.938rem;  
}

#search-form input,
#news-form input {
  background-color: transparent;
  border: none;
  color: #FFF;
}

#search-form input:focus,
#news-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
  color: #FFF;
}

#bottom-navbar-container .container {
  justify-content: flex-end;
}

#bottom-navbar-container a {
  font-weight: 600;
  color: #FFF;
}

.navbar-toggler {
  font-size: 1.5em;
}


@media(min-width:48rem){
  .navbar-brand{
  text-align: left;  
  }

  #navbar-items{
  min-width: 80%;
  display: flex;
  }

  #search-form,
  #news-form{
    width: 50%;
    margin: 0;
  }
}
