*{
  color: #25282e;  
  text-decoration: none; 
  list-style-type: none;
  transition: .5s;
}
a{
  text-decoration: none;
}

.secondary-color{
  color: #555;
} 

.center-image{
  background-size: cover;
  background-position: center;
}

.bnt{
  text-decoration: none;
  background-color: #25282e;
  color: #fff;
  padding: 0.438rem 1.125rem;
  border-radius: 0;
}

.btn:hover{
  background-color: #333;
  color: #fff;
}

/* -- Header -- */
.header{
text-align: center;
padding: 1.25rem;
border-bottom: 1px solid #ccc;
}

.header p{
  margin-bottom: 0;
}

.logo-container{
  display: flex;
  justify-content: center;
}

.logo{
  width: 2.5rem;
  margin-right: 0.938rem;
}

/* -- Navbar -- */
#navbar {
  padding: 0.625rem;
  margin: 0.625rem auto;
}

#navbar a {
  width: 5rem;
  color: #444;
}

#navbar a:hover {
  color: #c1b696;
}

/* -- Main banner image -- */
.main-image {
  height: 25rem;
  background-image: url('/Projeto_01/assets/image/g_1.jpg');
  margin-bottom: 1.875rem;
  position: relative;
}

.main-image-info {
  background-color: #FFF;
  padding: 1.563rem;
  position: absolute;
  left: 1.563rem;
  bottom: 1.563rem;
}

/* --Gallery-- */
#img-2 {
  background-image: url('/Projeto_01/assets/image/g_2.jpg');
}

#img-3 {
  background-image: url('/Projeto_01/assets/image/g_3.jpg');
}

#img-4 {
  background-image: url('/Projeto_01/assets/image/g_4.jpg');
}

#img-5 {
  background-image: url('/Projeto_01/assets/image/g_5.jpg');
}

#img-6 {
  background-image: url('/Projeto_01/assets/image/g_6.jpg');
}

#gallery-container h1 {
  text-align: center;
}

#gallery-container h1,
#gallery-container .col-md-6,
#gallery-container .col-xs-12 {
 margin-bottom: 3.125rem;
}

.small-image-container {
  height: 15.625rem;
  margin-bottom: 1.563rem;
}

/* FOOTER */
footer {
  border-top: 1px solid #CCC;
  height: 15.625rem;
  padding: 1.875rem;
}

footer i {
  font-size: 1.25rem;
}

#social-icons-container {
  padding: 1.563rem;
}

#social-icons-container div {
  text-align: center;
}

footer p {
  text-align: center;
  margin: 1.25rem;
}

a:hover i {
  color: #c1b696;
}